* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

/* selettore per il div del logo */
header div {
    height: 4.375rem;
    padding-top: 10px;
    padding-left: 25px;
    background-color: white;
}

/* selettore per il contenuto nel main */
.content {
    margin: 2.5rem auto;
    max-width: 60%;
}

/* selettore per gli elementi comuni dei contenitori */
.container {
    background-color: white;
    font-family: Arial, sans-serif;
    padding-left: 50px;
}

/* selettore specifico per il contenitore con i due bottoni */
.buttonsContainer {
    border-bottom: 2.5px solid #f6f8f9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px;
    height: 3.125rem;
}

/* selettori per i due bottoni */
.button {
    border-radius: 6px;
    border: 1px solid grey;
    background-color: white;
    height: 1.875rem;
    line-height: 0;
    padding: 10px 15px;
    text-align: center;
}

.taskButton {
    background-color: #14aaf5;
}

/* selettori per le liste */
ul {
    list-style-type: none;
}

li {
    margin-top: 15px;
}

/* selettore per le categorie dei task */
.taskType {
    padding-top: 30px;
    font-weight: bold;
}

/* selettore per lo span delle icone dei task */
.icon {
    color: #39cab0;
    line-height: 0.9375rem;
    text-align: center;
    font-size: 0.625rem;
    border: 1px solid #39cab0;
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
}

/* selettore specifoco per lo span per icona con croce */
.crossIcon {
    color: #ff1010;
    border: 1px solid #ff1010;
}

/* selettore per lo span del testo dei task */
.text {
    margin-left: 6px;
}

/* selettore generico per lo span del tag dei task */
.tag {
    display: inline-block;
    font-size: 8px;
    color: white;
    padding: 5px 8px;
    border-radius: 10px;
}

/* selettore specifici per i tipi di tag */
.editorialTag {
    background-color: #09a9ed;
}

.goalsTag {
    background-color: #ab5de6;
}

.recruitingTag {
    background-color: #2cc6ab;
}

.mobileTag {
    background-color: #ff9b00;
}

.websiteTag {
    background-color: #ec4a9d;
}

.salesTag {
    background-color: #a3d116;
}